<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.voissesw.search.mapper.SearchMapper">
    <resultMap id="resultMap" type="searchItemPoJo">
        <id property=" id" column=" id"/>
        <result property="item_title" column="item_title"/>
        <result property="item_sell_point" column="item_sell_point"/>
        <result property="item_price" column="item_price"/>
        <result property="item_image" column="item_image"/>
        <result property="item_category_name" column="item_category_name"/>
        <result property="item_desc" column="item_desc"/>
    </resultMap>
    <select id="getItemList" resultMap="resultMap">
	SELECT
		i.id,
		i.title AS item_title,
		i.sell_point AS item_sell_point,
		i.price AS item_price,
		i.image AS item_image,
		c.name AS item_category_name,
		d.item_desc AS item_desc
	FROM
		tb_item i
	LEFT JOIN tb_item_desc d ON i.id = d.item_id
	LEFT JOIN tb_item_cat c ON i.cid = c.id
    </select>

</mapper>